<h3>Chercher</h3>
<div id="search" class="sidebarelement">
  <% form_tag({ :controller => 'articles', :action => 'search' },
              { :method => 'get', :id => 'sform' }) do -%>
  <p>
    <input type="text" id="q" name="q" value="" />
    <input type="image" src="http://t37.net/images/search.png" alt="chercher" onclick="$('sform').onsubmit();return false;" />
  </p>
  <% end -%>
</div>

<% @navcats ||= Category.find_all_with_article_counters -%>     

<h3 id="title_categories">Catégories</h3>
  <div class="sidebarelement">
    <p>Cliquez sur un des liens pour parcourir les articles classés par grande catégorie.</p>
    
    <ul id="thematiques">
    <% for category in @navcats -%>
      <li><%= link_to h(category.name), "#{category.permalink_url}/", {:title => "Lire les articles traitant de #{category.name}" } %></li>
    <% end -%>
    </ul>
  </div>
  
<h3>Les indispensables</h3>
  <div class="sidebarelement">
  <p>Une liste de lectures indispensables pour votre veille quotidienne.</p>
  <ul>
    <li><a href="http://www.biologeek.com/journal/">Biologeek</a></li>
    <li><a href="http://prendreuncafe.com/blog/">Prendre un café</a></li>
    <li><a href="http://alheim.7el.net">Alexandre Heimburger</a></li>
    <li><a href="http://www.referencement-blog.net/">Référencement blog</a></li>
    <li><a href="http://www.boxesandarrows.com/">Boxes and arrows</a> [en]</li>
    <li><a href="http://performance.survol.fr/">Performances web</a></li>
    <li><a href="http://ajblog.fr/">Webdesign et petite entreprise</a></li>
  </ul>
</div>

<%= render_sidebars TagSidebar.new(:maximum_tags => 30) %>

<div class="sidebarelement"> 
  <a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/fdv/">
    <img src="http://i.creativecommons.net/p/fdv" style="border:0px;" />
  </a>
</div>
