body {
	font: 13px/1.4285714285714286em Arial, Helvetica, sans-serif;
	background: #333;
	margin: 0; 
	padding: 0;
}

a {
	color: #2971a7;
}

blockquote {
	padding-left: 10px;
	border-left: #ccc 5px solid;
	background: url("../../images/theme/bg_blockquote.gif");
}

li.accueil {
	width: 90px;
	font-weight: bold;
	text-align: center;
	color: #343434;
}

#logo {
	padding: 7px 10px 0 20px;	
	width: 312px;
	float: left;
	border-right: #fff 1px solid;
	height: 116px;
	background: url("../../images/theme/header_bg.gif") #08aed4 top repeat-x;	
}

#logo p {
	font-size: 11px
}

#nav {
	position: absolute;
	top: 15px;
	left: 50%;
	height: 124px;
	margin-left: -156px;
}

#header h1,
#header p.title {
	margin: 0;
	font-size: 22px;
	line-height: 0.9090909090909091em;
	color: #fafafa;
	font-weight: normal;
}

.alignleft {
        float: left;
        margin: 0 5px 5px 0;
}

.alignright {
        float: right;
        margin: 0 0 5px 5px;
}

img.centered {
        margin-left: auto;
        margin-right: auto;
        display: block;

	display: block;
	margin: 10px auto; 
	padding: 5px;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	border-left: 1px solid #ebebeb;
}

a img { 
	border: none;
}
	

#header h1 a,
#header p a { 
	color: #fafafa;
	text-decoration: none;
}

h1 a span {
	color: #ccc;
}

h2, #header p,
h3.archivemonth {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1em;
	color: #979797;
	font-weight: bold;
}

h3.archivemonth {
	margin-bottom: 0;
}

#header p {
	color: #fafafa;
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 0;
}

h3 {
	margin: 0;
	font-size: 1.2857142857142858em;
	line-height: 1.1111111111111112em;
	margin-bottom: 1.1111111111111112em;
}
h4 {
	margin: 0;
	font-size: 1.1428571428571428em;
	line-height: 1.25em;
	margin-bottom: 1.25em;
}

h5.feedback {
	margin: 0;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 1.25em;
	color: #2971a7;
}


p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.4285714285714286em;
	margin-bottom: 1.4285714285714286em;
}
p.small {
	margin: 0;
	font-size: 0.8571428571428571em;
	line-height: 1.6666666666666667em;
	margin-bottom: 1.6666666666666667em;
}
table {
	border-collapse: collapse;
	margin-bottom: 1.4285714285714286em;
}

#container {
	margin: 0 auto;
	width: 990px;
}

#header {
	height: 123px;
	background: url("../../images/theme/header_bg.gif") #08aed4 top repeat-x;	
	border-top: #01698e 15px solid;
}

#breadcrumb {
	clear: both;
	height: 20px;
	background: #000;
	border-top: #037ba1 1px solid;
	position : absolute;
	top : 138px;
	left: 50%;
	margin-left: -495px;
	width: 990px;
	z-index: 999;
}

#breadcrumb ul {
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 11.5px;
}

#breadcrumb ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
	color: #fff;
	font-weight: normal;
	margin-top: 0;
}

#breadcrumb ul li a {
	font-weight: bold;
	color: #fff;
}

#content {
	position: relative;
	left: 20px;
	width: 620px;
	float: left;
	overflow: hidden;
	padding-top: 30px;
}

#content ul li {
	list-style-image: url("../../images/theme/bullets.png");	
}

#sidebar {
	clear: none;
	float: right;
	width: 300px;
	margin-right: 20px;
	padding-top: 40px;
	font-size: 12px;
}

#sidebar h3 { 
	line-height: 30px;
	padding: 3px 0 0 0;
	color: #de5026;
	margin-bottom: 0;
	font-weight: normal;
}

#sidebar p {
	color: #aaa;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

.sidebarelement { 
	padding: 0 10px 0 0;
	margin: 0 0 20px 0;
}

.sidebarelement h3 {
	background: none;
	color: #000;
	font-size: 14px;
}

#search p {
	margin-bottom: 2px;
}

input#q {
	font: 13px Arial, Helvetica, sans-serif;
	border: #969696 1px solid;
	width: 130px;
}

/* Top navigation */
#nav_articles, #nav_downloads, #nav_contact, #nav_rss, #nav_email {
	background: url("../../images/theme/header_bg.gif") #08aed4 top repeat-x;	
	float: left;
	width: 127px;
	height: 116px;
	border-right: #fff 1px solid;
	padding: 7px 0 0 0;
	margin: 0;
}

#nav_contact {
	border-right: none;
}

#nav_articles dt, #nav_downloads dt, #nav_contact dt, #nav_rss dt, #nav_email dt  {
	margin: 0 3px 3px 9px;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
}

#nav_email dt {
	line-height: 16px;
}

#nav_rss {
	
	background: url("../../images/theme/header_rss.gif") #fbb23c top repeat-x;		
	border-top: #f47221 15px solid;
	height: 116px;
	position: relative;
	top: -15px;
}

#nav_email, #nav_rss {
	border-right: none;
}

#nav_articles dd, #nav_downloads dd, #nav_contact dd, #nav_rss dd, #nav_email dd {
	margin: 0 3px 3px 9px;
	line-height: 20px;	
	color: #fff;
	line-height: 18px;
	font-size: 12px;
}

#nav_rss dd {
	line-height: 16px;
}

#nav_articles a, #nav_downloads a, #nav_contact a, #nav_rss a, #nav_email a {
	color: #efefef;
	text-decoration: none;
	display: block;
}

#nav_rss a {
	color: #fff;
}

dd.active, li.active {
	text-decoration: underline;
	color: #fff;
}

#nav form {
	padding: 0;
	margin: 0;
	display: inline;
}

#nav_articles dd a:hover, #nav_downloads dd a:hover, #nav_contact dd a:hover, #nav_email dd a:hover {
	color: #fff;
	text-decoration: none;
	background: #08aed4;
}

#nav_rs dd a:hover {
	background: none;
	text-decoration: underline;
}

#nav_email input#form_email {
	width: 100px;
	font: 11px/16px Arial, Helvetica, sans-serif;
}

#page {
	width: 990px;
	float: left;
	background: #fff;
}

#content h2.title,
#content h1,
h3.archivemonth {
	padding-top: 20px;
	font-size: 16px;
	color: #2971a7;
	line-height: 1em;
	font-weight: normal;
}

#content h1 {
	margin-bottom: 0;
}

#content h1 a {
	text-decoration: none;
}



#content h2.title a {
	color: #2971a7;
	text-decoration: none;
}

#content p.author {
	font-size: 11px;
}

#content p.author a {
	color: #de5026;
}

#related ul li {
	list-style-image: url("../../images/theme/tick.png");
}

#meta {
	border-top: #ccc 1px dotted;
	border-bottom: #ccc 1px dotted;
	padding: 10px 0 0 0;
	margin-bottom: 25px;
}

#meta ul li.metarss {
	list-style-image: url("../../images/theme/smallfeed.png");
}

#meta ul li.metacc {
	list-style-image:  url("../../images/theme/cc.jpg");
}

#meta ul li.metapermalink {
	list-style-image: url("../../images/theme/link.png");
}

#meta ul li.metatags {
	list-style-image: url("../../images/theme/tag_blue_edit.png");
}

#meta ul li.metacategory {
	list-style-image: url("../../images/theme/folder.png");
}

#commentform {
	margin-top: 25px;
}

#commentform #comment_author,
#commentform #comment_email,
#commentform #comment_url {
	font: 13px Arial, Helvetica, sans-serif;
	border: #969696 1px solid;
	background: url("../../images/theme/comment_top.gif");
}

#commentform textarea {
	width: 450px;
	height: 200px;
	font: 13px Arial, Helvetica, sans-serif;
	border: #969696 1px solid;
	background: url("../../images/theme/comment_top.gif");
}

legend {
	font-size: 16px;
	color: #2971a7;
}

ol#commentList{ 
	margin: 0;
	padding: 0;
}


ol#commentList li {
	margin-top: -1px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 10px;
	padding-top: 10px;
	list-style: none;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
	font-size: 12px;
}

ol#commentList ul li {
	list-style: square;
	border: none;
}


.commentbg {
	background: url("../../images/theme/blank_gravatar.png") top left no-repeat;
	padding-left: 72px;
}

.commentodd {
	background: #f8f8f8;
}

.fdv,
.commentodd .fdv {
	background: #ffffe0;
}



.flickrsquare {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

.flickrsquare img {
	border: #222 3px solid;
}

#footer {
	float: left;
	width: 990px;
	clear: both;
	background: #f4e9d0;
	padding-top: 10px;
	font-size: 12px;
	margin-top: 0;
	color: #898989;
}

#bigfooter {
	margin-left: 20px;
	width: 970px;
}

#bigfooter h3 {
	color: #493C31;
}

#bigfooter a {
	color: #493C31;
	text-decoration: none;
}

#populars, #lastposts {
	width: 500px;
	float: left;
}

#populars ul li, #lastposts ul li {
	border-bottom: #343434 1px solid;
	margin-bottom: 3px;
}

#secondfooter {
	clear: both;
	padding-top: 25px;
}

#flickr, #about-me {
	float: left;
	width: 420px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: #222 1px solid;
	color: #444;
}

#bigfooter ul {
	margin: 0;
	padding: 0;
}

#bigfooter ul li {
	list-style: none;
}

#bottomnav {
	height: 40px;
	padding: 10px 0 0 0;
	background: #000;
}

#bottomnav ul {
	margin: 0;
	margin: 0;
}

#bottomnav ul li {
	float: left;
	list-style: none;
	margin-left: 20px;
}

#bottomnav a {
	color: #fff;
	text-decoration: none;
}

#bottomnavcontainer {
	margin: 0;
	width: 970px;
}

#bottomnavigation {
	float: right;
	width: 400px;
}

#bottomnavigation ul li {
	float: right;
}

#credits {
	width: 500px;
}

#credits a {
	font-size: 12px;
}

#bottomnavigation {

}

ul#taglist li {
	text-transform: capitalize;
}

#adsense_body {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

#adsense_sidebar,
#adsense_top {
  margin-bottom: 5px;
}

.pagination {
	text-align: center;
	padding: 15px 0;
	text-align: center;
}

.pagination .disabled {
	color: #aaa;
}

.pagination .current {
	font-weight: bold;
	font-size: 16px;
}

.pagination a, .pagination a:visited, .pagination:hover, .pagination:visited:hover {
	text-decoration: none;
}

.pagination .prev_page {
	margin-right: 20px;
}

.pagination a.prev_page, .pagination a.next_page {
	color: #DE5026;
	font-weight: bold;
}

.pagination .next_page {
	padding-left: 20px;
}

.clear {
	clear: both;
}

#description {
	margin-top: 20px;
	border: #ccc 1px solid;
	padding: 10px;
	margin-bottom: 15px;
}

p.next {
	text-align: right;
}