body {
	font: 13px/1.4285714285714286em Arial, Helvetica, sans-serif;
	background: #2f2f2f;
	margin: 0; 
	padding: 0;
}

a {
	color: #2971a7;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
}

blockquote {
	padding-left: 10px;
	border-left: #ccc 5px solid;
	background: url("../../images/theme/bg_blockquote.gif");
}

li.Home {
	width: 90px;
	font-weight: bold;
	text-align: center;
	color: #343434;
}

#logo {
	padding: 27px 10px 0 0;	
	float: left;
	height: 102px;
}

#logo p {
	font-size: 11px
}

#nav {
	position: absolute;
	left: 50%;
	height: 124px;
	margin-left: -495px;
	width: 990px;
}

#header h1,
#header p.title {
	margin: 0;
	font-size: 26px;
	line-height: 0.9090909090909091em;
	color: #fafafa;
	font-weight: normal;
}

.alignleft {
        float: left;
        margin: 0 5px 5px 0;
}

.alignright {
        float: right;
        margin: 0 0 5px 5px;
}

img.centered {
        margin-left: auto;
        margin-right: auto;
        display: block;

	display: block;
	margin: 10px auto; 
	padding: 5px;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	border-left: 1px solid #ebebeb;
}

a img { 
	border: none;
}
	

#header h1 a,
#header p a { 
	color: #fafafa;
	text-decoration: none;
}

h1 a span {
	color: #ccc;
}

h2, #header p,
h3.archivemonth {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1em;
	color: #979797;
	font-weight: bold;
}

h3.archivemonth {
	margin-bottom: 0;
}

#header p {
	color: #fafafa;
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 0;
}

h3 {
	margin: 0;
	font-size: 1.2857142857142858em;
	line-height: 1.1111111111111112em;
	margin-bottom: 1.1111111111111112em;
}
h4 {
	margin: 0;
	font-size: 1.1428571428571428em;
	line-height: 1.25em;
	margin-bottom: 1.25em;
}

h5.feedback {
	margin: 0;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 1.25em;
	color: #2971a7;
}


p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.4285714285714286em;
	margin-bottom: 1.4285714285714286em;
}
p.small {
	margin: 0;
	font-size: 0.8571428571428571em;
	line-height: 1.6666666666666667em;
	margin-bottom: 1.6666666666666667em;
}
table {
	border-collapse: collapse;
	margin-bottom: 1.4285714285714286em;
}

#container {
	margin: 0 auto;
	width: 990px;
}

#header {

}

#breadcrumb {
	background: url('../../images/theme/bg_breadcrumb.jpg') #000 top left no-repeat; 
	clear: both;
	height: 20px;
	position : absolute;
	top : 129px;
	left: 50%;
	margin-left: -495px;
	width: 990px;
	z-index: 999;
}

#breadcrumb ul {
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 11.5px;
}

#breadcrumb ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
	color: #fff;
	font-weight: normal;
	margin-top: 0;
}

#breadcrumb ul li a {
	font-weight: bold;
	color: #fff;
}

#content {
	position: relative;
	left: 20px;
	width: 620px;
	float: left;
	overflow: hidden;
	padding-top: 30px;
}

#content ul li {
	list-style-image: url("../../images/theme/bullets.png");	
}

#sidebar {
	clear: none;
	float: right;
	width: 300px;
	padding-right: 20px;
	padding-top: 40px;
	font-size: 12px;
}

#sidebar h3 { 
	line-height: 30px;
	padding: 3px 0 0 20px;
	color: #de5026;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 18px	;
	background: url('../../images/theme/pin.jpg') top left no-repeat;
}

#sidebar p {
	color: #333;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

.sidebarelement { 
	padding: 0 10px 0 0;
	margin: 0 0 20px 0;
}

.sidebarelement h3 {
	background: none;
	color: #000;
	font-size: 14px;
}

#search p {
	margin-bottom: 2px;
}

input#q {
	font: 13px Arial, Helvetica, sans-serif;
	background: url('../../images/theme/searchfield.png');
	width: 170px;
	border: none;
	padding: 10px 5px;
	height: 16px;
}

#menu {
	background: url("../../images/theme/bg_menu_test.jpg") #08aed4 bottom left repeat-x;	
	width: 714px;
	float: left;
	margin-top: 100px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	float: left;
	padding: 5px 0 5px 20px;
	color: #fff;
}

#menu ul li a {
	color:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	}

#menu ul li a:hover {
	text-decoration: underline;
}

#rss {
	float: right;
}

#rss img {
	display: block;
}

#twitter {
	float: right;
	margin-right: 20px;
}
#page {
	width: 990px;
	margin-top: 20px;
	float: left;
	background: url('../../images/theme/bg_page.jpg') #fff top left no-repeat;
}

#content h2.title,
#content h1,
h3.archivemonth {
	padding-top: 20px;
	font-size: 24px;
	color: #2971a7;
	line-height: 1em;
	font-weight: normal;
}

#content h1 {
	margin-bottom: 0;
}

#content h1 a {
	text-decoration: none;
}



#content h2.title a {
	color: #2971a7;
	text-decoration: none;
}

#content p.author {
	font-size: 11px;
}

#content p.author a {
	color: #de5026;
}

#related ul li {
	list-style-image: url("../../images/theme/tick.png");
}

#meta {
	border-top: #ccc 1px dotted;
	border-bottom: #ccc 1px dotted;
	padding: 10px 0 0 0;
	margin-bottom: 25px;
}

#meta ul li.metarss {
	list-style-image: url("../../images/theme/smallfeed.png");
}

#meta ul li.metacc {
	list-style-image:  url("../../images/theme/cc.jpg");
}

#meta ul li.metapermalink {
	list-style-image: url("../../images/theme/link.png");
}

#meta ul li.metatags {
	list-style-image: url("../../images/theme/tag_blue_edit.png");
}

#meta ul li.metacategory {
	list-style-image: url("../../images/theme/folder.png");
}

#commentform {
	margin-top: 25px;
}

#commentform #comment_author,
#commentform #comment_email,
#commentform #comment_url {
	font: 13px Arial, Helvetica, sans-serif;
	border: #969696 1px solid;
	background: url("../../images/theme/comment_top.gif");
}

#commentform textarea {
	width: 450px;
	height: 200px;
	font: 13px Arial, Helvetica, sans-serif;
	border: #969696 1px solid;
	background: url("../../images/theme/comment_top.gif");
}

legend {
	font-size: 16px;
	color: #2971a7;
}

ol#commentList{ 
	margin: 0;
	padding: 0;
}


ol#commentList li {
	margin-top: -1px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 10px;
	padding-top: 10px;
	list-style: none;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
	font-size: 12px;
}

ol#commentList ul li {
	list-style: square;
	border: none;
}


.commentbg {
	background: url("../../images/theme/blank_gravatar.png") top left no-repeat;
	padding-left: 72px;
}

.commentodd {
	background: #f8f8f8;
}

.fdv,
.commentodd .fdv {
	background: #ffffe0;
}



.flickrsquare {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

.flickrsquare img {
	border: #222 3px solid;
}

#footer {
	float: left;
	width: 990px;
	clear: both;
	background: #f4e9d0;
	padding-top: 10px;
	font-size: 12px;
	margin-top: 0;
	color: #898989;
}

#bigfooter {
	margin-left: 20px;
	width: 970px;
}

#bigfooter h3 {
	color: #493C31;
}

#bigfooter a {
	color: #493C31;
	text-decoration: none;
}

#lastposts {
	width: 455px;
	float: left;
}

#populars ul li, #lastposts ul li {
	border-bottom: #343434 1px solid;
	margin-bottom: 3px;
}

#secondfooter {
	clear: both;
	padding-top: 25px;
}

#populars {
	float: left;
	width: 455px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: #222 1px solid;
	color: #444;
}

#bigfooter ul {
	margin: 0;
	padding: 0;
}

#bigfooter ul li {
	list-style: none;
}

#bottomnav {
	height: 40px;
	padding: 10px 0 0 0;
	background: #000;
}

#bottomnav ul {
	margin: 0;
	margin: 0;
}

#bottomnav ul li {
	float: left;
	list-style: none;
	margin-left: 20px;
}

#bottomnav a {
	color: #fff;
	text-decoration: none;
}

#bottomnavcontainer {
	margin: 0;
	width: 970px;
}

#bottomnavigation {
	float: right;
	width: 400px;
}

#bottomnavigation ul li {
	float: right;
}

#credits {
	width: 500px;
}

#credits a {
	font-size: 12px;
}

#bottomnavigation {

}

ul#taglist li {
	text-transform: capitalize;
}

#adsense_body {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

#adsense_sidebar,
#adsense_top {
  margin-bottom: 5px;
}

.pagination {
	text-align: center;
	padding: 15px 0;
	text-align: center;
}

.pagination .disabled {
	color: #aaa;
}

.pagination .current {
	font-weight: bold;
	font-size: 16px;
}

.pagination a, .pagination a:visited, .pagination:hover, .pagination:visited:hover {
	text-decoration: none;
}

.pagination .prev_page {
	margin-right: 20px;
}

.pagination a.prev_page, .pagination a.next_page {
	color: #DE5026;
	font-weight: bold;
}

.pagination .next_page {
	padding-left: 20px;
}

.clear {
	clear: both;
}

#description {
	margin-top: 20px;
	border: #ccc 1px solid;
	padding: 10px;
	margin-bottom: 15px;
}

p.next {
	text-align: right;
}

#searchbox {
	background: url('../../images/theme/postit.jpg') top left no-repeat;
	margin-left: 15px;
	padding: 0 0 110px 15px;
}

#searchbox h3 {
	background: none;
	padding-left: 0;
}